@import '/src/styles/styles.scss';

.CreateCard {
  flex-direction: column;
  min-width: 350px;
  display: flex;
  margin: 30px;
  width: auto;

  @media screen and (max-width: $screen-s-width) {
    min-width: 0px;
  }

  &-Buttons {
    flex-direction: row;
    display: flex;
    align-self: center;
  }

  &-Button {
    margin: 20px 20px 0 20px !important;
  }

  &-Input {
    margin: 20px 0 !important;
  }
}
