.CreateCard {
  flex-direction: column;
  display: flex;
  margin: 50px;

  &-Buttons {
    flex-direction: row;
    display: flex;
  }

  &-Button {
    margin: 20px 20px 0 20px !important;
  }

  &-Input {
    margin: 20px 0 !important;
  }
}
