.CreateCard {
  flex-direction: column;
  min-width: 350px;
  display: flex;
  margin: 30px;
  width: 20%;

  &-Buttons {
    flex-direction: row;
    display: flex;
    align-self: center;
  }

  &-Button {
    margin: 20px 20px 0 20px !important;
  }

  &-Input {
    margin: 20px 0 !important;
  }
}
