.Collections {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-Collection {
    width: 80%;
    margin: 10px 0 !important;
  }

  &-CreateCollection {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 20px;
    justify-content: center;

    border-top: 1px solid #e0e0e0;
    width: 80%;
  }
}
