@import '/src/styles/styles.scss';

.AppHeader {
  padding: 0 10%;

  @media screen and (max-width: $screen-xl-width) {
    padding: 0 5px;
  }

  &-Button {
    display: none !important;

    &_Collections {
      @media screen and (max-width: 1000px) {
        display: block !important;
      }
    }
  }

  &-CloudSync {
    margin-left: auto !important;
    cursor: pointer;
    color: white !important;
  }
}
