.App {
  flex-direction: column;
  align-items: center;
  display: flex;

  &-CardComponent {
    flex-direction: row;
    align-items: center;
    display: flex;
    margin: 50px 0;
  }

  &-NavButton {
    border-radius: 10px !important;
  }

  &-Buttons {
    flex-direction: row;
    display: flex;
  }

  &-Button {
    margin: 0 20px !important;
  }

  &-TestButton {
    position: fixed !important;
    margin: 20px !important;
    bottom: 0 !important;
  }
}
